/*Desta forma vc consegue importar pelo CSS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

/*Pseudo-classe que carrega as váriaveis no elemento root (<html>)*/
:root {
  --clr-primary: #000;
  --clr-secondarr: white;
  --fs-common: 1rem;
  --fs-h1: 1.25rem;
  --fs-h2: 1.25rem;
}

@media (max-width: 600px) {
  :root {
    --fs-common: 1.5rem;
    --fs-h1: 1.5rem;
    --fs-h2: 1.5rem;
  }
}

* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f5;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--fs-common);
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--fs-common);
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 6px;
  padding: 0 24px;
}

.button {
  width: 100%;
  height: 60px;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%); /*Vai escurecer em 10%*/
}

.back-link {
  display: flex;

  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}
/*Icons do react-icons são sempre em svg*/
.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.8;
}
